{% extends 'home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock styles %}

{% block content %}
    <h1 class="discover">DISCOVER</h1>

    <div class="homesets-container">
        {% for homeset in home_sets %}
            <div class="homeset">
                <h2>{{homeset.name}}</h2>

                <div class="products">
                    {% for product in homeset.pledges.all %}
                        <div class="product">
                            <a href="{% url 'clothes:pledge_path' product.id %}">
                                <img src="{{ product.pledgecolorset_set.filter.first.image.url }}" width="150px">
                            </a>    
                            <a class="name" href="{% url 'clothes:pledge_path' product.id %}">
                                {{product.name}}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}