{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'search/css/search.css' %}" type="text/css">
{% endblock styles %}

{% block content %}
    <div class='container'>
        {% if sets %}
            <div class="tittle">
                <h1>Results of "{{ search }}"</h1>
            </div>
            <div class="pledges-container">
                {% for set in sets %}
                    <div class='product'>
                        <a href="{% url 'clothes:pledge_path' set.pledge.pk %}?color={{ set.color.slug }}">
                            <img src="{{ set.image.url }}" width="200px">
                        </a>
                        <a class="name" href="{% url 'clothes:pledge_path' set.pledge.pk %}?color={{ set.color.slug }}">
                            {{set.pledge.name}} in {{set.color.name}}
                        </a>
                    </div>
                {% endfor %}
            </div>
             

        {% else %}
            <div class="tittle">
                <h1>No results for "{{ search }}"</h1>
            </div>  
        {% endif %}
            
    </div>
{% endblock content %}