{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'search/css/search_styles.css' %}" type="text/css">
{% endblock styles %}

{% block content %}
    <div class='container'>
        {% if pledges or brands %}
            <div class="tittle">
                <h1>Results of "{{ search }}"</h1>
            </div>
            {% for pledge in pledges %}
                <div class='product'>
                    <span>
                        <img src="{{ pledge.image.url }}" alt="" width="200px">
                    </span>
                    <a href="{% url 'clothes:show_pledge' pledge.pk %}">
                        {{pledge.name}}
                    </a>
                </div>
            {% endfor %}
            {% for brand in brands %}
                <div class='brand'>
                    <span>
                        <img src="{{ brand.image.url }}" alt="" width="170px">
                    </span>
                    <a href="{% url 'brands:show_brand' brand.slug %}">
                        {{brand.name}}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="tittle">
                <h1>No results for "{{ search }}"</h1>
            </div>  
        {% endif %}
            
    </div>
{% endblock content %}