{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'clothes/css/clothes_gender.css' %}" type="text/css">
{% endblock styles %}

{% block content %}

<div class="filters">
    <div class="filter-by-type">
        <span>filter by</span>
        <select name="filter" value="filter" onchange="window.location.href=this.value;">
            <option value=""></option>
            {% if order %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{order}}">no filters</option>
            {% else %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}">no filters</option>
            {% endif %}
            {% for type in type_clothing %}
                {% if order %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ order }}&filter={{ type.slug }}">
                        {{type.name}}
                    </option>
                {% else %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?filter={{ type.slug }}">
                        {{type.name}}
                    </option>
                {% endif %}
                    
            {% endfor %}
        </select>
    </div>

    {% if filter or order %}
        <div class="clear-filters">
            <h2>
                <a href="{% url 'clothes:clothes_by_gender' gender %}">Clear Filters</a>
            </h2>
        </div>
    {% endif %}

    <div class="filter-by-order">
        <span>order by</span>
        <select name="order" onchange="window.location.href=this.value;">
            <option value=""></option>     
            {% if filter %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}?filter={{ filter }}">no order</option>
            {% else %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}">no order</option>
            {% endif %}

            {% for each_order in orders.keys %}
                {% if filter %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ each_order }}&filter={{ filter }}">
                        {{each_order}}
                    </option>
                {% else %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ each_order }}">
                        {{each_order}}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>

<div class="list-clothes">
    {% for pledge in pledges %}

    <div class="clothe">
        <img src={{ pledge.image.url }} alt="" width="150px">
        <br>
        <a href="#">{{ pledge.name }}</a>
        
    </div>

    {% endfor %}
</div>
{% endblock content %}

