{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'clothes/css/pledge_list_9.css' %}" type="text/css">
{% endblock styles %}

{% block content %}

{% comment %} <div class="filters">
    <div class="filter-by-type">
        <span>filter by</span>
        <select name="filter" value="filter" onchange="window.location.href=this.value;">
            <option value=""></option>
            {% if order %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{order}}">no filters</option>
            {% else %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}">no filters</option>
            {% endif %}
            {% for type in type_clothing %}
                {% if order %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ order }}&filter={{ type.slug }}">
                        {{type.name}}
                    </option>
                {% else %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?filter={{ type.slug }}">
                        {{type.name}}
                    </option>
                {% endif %}
                    
            {% endfor %}
        </select>
    </div>

    {% if filter or order %}
        <div class="clear-filters">
            <h2>
                <a href="{% url 'clothes:clothes_by_gender' gender %}">Clear Filters</a>
            </h2>
        </div>
    {% endif %} {% endcomment %}

    {% comment %} <div class="filter-by-order">
        <span>order by</span>
        <select name="order" onchange="window.location.href=this.value;">
            <option value=""></option>     
            {% if filter %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}?filter={{ filter }}">no order</option>
            {% else %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}">no order</option>
            {% endif %}

            {% for each_order in orders.keys %}
                {% if filter %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ each_order }}&filter={{ filter }}">
                        {{each_order}}
                    </option>
                {% else %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ each_order }}">
                        {{each_order}}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div> {% endcomment %}
<div class="main-container">
    
    <div class="filters">
        <form class="filter-form" action="{% url 'clothes:pledge_list_path' gender clothing_type_slug %}" method="POST">
            {% csrf_token %}
            {% if page %}
                <input id="prodId" name="page" type="hidden" value={{ page }}>
            {% endif %}
            
            <div class="filter-tittle">
                <h2>orders</h2>
            </div>
            <select name="order", class="order-select" onChange="this.form.submit()">
                <option value=""></option>
                {% for order_name, order_value in orders.items %}
                    {% if selected_order == order_value %}
                        <option value="{{order_value}}" selected>{{order_name}}</option>
                    {% else %}
                        <option value="{{order_value}}">{{order_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <div class="filter-tittle">
                <h2>colors</h2>
            </div>
            <div name="colors" class="colors">
                {% if selected_color %}
                    <label class="checkbox-label" for="checkbox">
                        <input class="filter-checkboxes" type="checkbox" name="color" onclick="javascript: submit()" value="{{selected_color}}" checked>
                        <span>{{selected_color}} ({{query_len}}) </span>
                    </label>    
                {% else %}
                    {% for key, value in colors.items %}
                    <label class="checkbox-label" for="checkbox">
                        {% if key in selected_colors %}
                            <input class="filter-checkboxes" type="checkbox" name="color" onclick="javascript: submit()" value="{{key}}" checked>                    
                        {% else %}
                            <input class="filter-checkboxes" type="checkbox" name="color" onclick="javascript: submit()" value="{{key}}">
                        {% endif %}
                        <span>{{key}} ({{value}}) </span>
                    </label>
                    {% endfor %}
                {% endif %}
                    
            </div>
            <div class="filter-tittle">
                <h2>sizes</h2>
            </div>
            <div name="sizes" class="sizes">
                {% if selected_size %}
                    <label class="checkbox-label" for="checkbox">
                        <input class="filter-checkboxes" type="checkbox" name="size" onclick="javascript: submit()" value="{{selected_size}}" checked>
                        <span>{{selected_size}} ({{query_len}}) </span>
                    </label>
                {% else %}
                    {% for key, value in sizes.items %}
                            <label class="checkbox-label" for="checkbox">
                                {% if key in selected_sizes %}
                                    <input class="filter-checkboxes" type="checkbox" name="size" onclick="javascript: submit()" value="{{key}}" checked>                    
                                {% else %}
                                    <input class="filter-checkboxes" type="checkbox" name="size" onclick="javascript: submit()" value="{{key}}">
                                {% endif %}
                                <span>{{key}} ({{value}}) </span>
                            </label>
                        {% endfor %}
                {% endif %}
                    
            </div>
        </form>
    </div>
    <div class="list-clothes">
        {% for pledge in pledges %}

            <div class="clothe">
                <a href="{% url 'clothes:pledge_path' pledge.pk %}">
                    <img src="{{ pledge.pledgecolorset_set.all.first.image.url }}" alt="" width="220px">
                </a>
                <div class="name">
                    <a href="{% url 'clothes:pledge_path' pledge.id %}">{{ pledge.name }}</a>
                </div>
                
            </div>

        {% endfor %}
    </div>

    
</div>
<div class="pages">
    <form class="filter-form" action="{% url 'clothes:pledge_list_path' gender clothing_type_slug %}" method="POST">
        {% csrf_token %}
        {% if selected_color %}
        <input id="prodId" name="color" type="hidden" value={{ selected_color }}>
        {% endif %}
        {% if selected_size %}
        <input id="prodId" name="size" type="hidden" value={{ selected_size }}>
        {% endif %}
        {% if selected_order %}
        <input id="prodId" name="order" type="hidden" value={{ selected_order }}>
        {% endif %}

        {% for page in page_numbers %}
            <button name="page" type="submit" value={{page}} class="submit-button">{{page}}</button>
        {% endfor %}
    </form>
</div>

{% endblock content %}

{% comment %} {% static 'clothes/css/pledge_list.css' %} {% endcomment %}