{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'clothes/css/pledge_list_6.css' %}" type="text/css">
{% endblock styles %}

{% block content %}

{% comment %} <div class="filters">
    <div class="filter-by-type">
        <span>filter by</span>
        <select name="filter" value="filter" onchange="window.location.href=this.value;">
            <option value=""></option>
            {% if order %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{order}}">no filters</option>
            {% else %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}">no filters</option>
            {% endif %}
            {% for type in type_clothing %}
                {% if order %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ order }}&filter={{ type.slug }}">
                        {{type.name}}
                    </option>
                {% else %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?filter={{ type.slug }}">
                        {{type.name}}
                    </option>
                {% endif %}
                    
            {% endfor %}
        </select>
    </div>

    {% if filter or order %}
        <div class="clear-filters">
            <h2>
                <a href="{% url 'clothes:clothes_by_gender' gender %}">Clear Filters</a>
            </h2>
        </div>
    {% endif %} {% endcomment %}

    {% comment %} <div class="filter-by-order">
        <span>order by</span>
        <select name="order" onchange="window.location.href=this.value;">
            <option value=""></option>     
            {% if filter %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}?filter={{ filter }}">no order</option>
            {% else %}
                <option value="{% url 'clothes:clothes_by_gender' gender %}">no order</option>
            {% endif %}

            {% for each_order in orders.keys %}
                {% if filter %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ each_order }}&filter={{ filter }}">
                        {{each_order}}
                    </option>
                {% else %}
                    <option value="{% url 'clothes:clothes_by_gender' gender %}?order={{ each_order }}">
                        {{each_order}}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div> {% endcomment %}
<div class="main-container">
    
    <div class="filters">
        <form class="filter-form" name="colors" action="{% url 'clothes:pledge_list_path' gender clothing_type_slug %}?page=1" method="GET">
            {% if page %}
                <input id="prodId" name="prodId" type="hidden" value={{ page }}>
            {% endif %}
            
            <div class="filter-tittle">
                <h2>colors</h2>
            </div>
            <div name="colors" class="colors">
                {% for key, value in colors.items %}
                <label class="checkbox-label" for="checkbox">
                    <input class="filter-checkboxes" type="checkbox" name="color{{forloop.counter}}" onclick="javascript: submit()" value="{{key}}" checked>
                    <span>{{key}} ({{value}}) </span>
                </label>
                {% endfor %}
            </div>
            <div class="filter-tittle">
                <h2>sizes</h2>
            </div>
            <div name="sizes" class="sizes">
                {% for key, value in sizes.items %}
                <label class="checkbox-label" for="checkbox">
                    <input class="filter-checkboxes" type="checkbox" name="size{{forloop.counter}}" onclick="javascript: submit()" value="{{key}}" checked>
                    <span>{{key}} ({{value}}) </span>
                </label>
                {% endfor %}
            </div>
        </form>
    </div>
    <div class="list-clothes">
        {% for pledge in pledges %}

            <div class="clothe">
                <a href="#">
                    <img src="{{ pledge.pledgecolorset_set.all.first.image.url }}" alt="" width="220px">
                </a>
                <div class="name">
                    <a href="#">{{ pledge.name }}</a>
                </div>
                
            </div>

        {% endfor %}
    </div>
</div>
    
{% endblock content %}

{% comment %} {% static 'clothes/css/pledge_list.css' %} {% endcomment %}