{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'clothes/css/clothing_type_2.css' %}" type="text/css">
{% endblock styles %}
{% block content %}
    <div class="main-div">
        <div class="main-content">
            {% for clothing_type in clothing_types %}
                <div class="clothing-type">
                    <a href="{% url 'clothes:pledge_list_path' clothing_type.gender clothing_type.slug %}">
                        <img src={{ clothing_type.image.url }} width="270px">
                    </a>
                        
                    <div class="name">   
                        <a href="{% url 'clothes:pledge_list_path' clothing_type.gender clothing_type.slug %}">
                            {{clothing_type.name}}
                        </a>
                    </div> 
                    {% comment %} {% url 'clothes:' %} {% endcomment %}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}

{% comment %}  {% endcomment %}