{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'cart/css/cart_2.css' %}" type="text/css">
{% endblock styles %}


{% block content %}

<main>
    <div class="cart-header">
        <h2>total price: {{total_price}}</h2>
        <h1> Your cart</h1>
        <a href="{% url 'cart:payment_path' %}">
            <button>pay</button>
        </a>
    </div>

    <div class="products">
        {% if products %}
            <div class="product">
                    <div class="image-title">
                        <h2>Images</h2>
                    </div>
                        
                    <div class="name">
                        <h2>Names</h2>
                    </div>
                        
                    <div class="size">
                        <h2>Sizes</h2>
                    </div>

                    <div class="price">
                        <h2>Prices</h2>
                    </div>
                    <div class="remove">
                        <h2>Remove</h2>
                    </div>
            </div>

        
            {% for product in products %}
                <div class="product">
                    <div class="image">
                    <img src="{{ product.pledgecolorset.image.url }}" alt="" width="100px">
                    </div>
                    
                    <div class="name">
                        <a href="{% url 'clothes:pledge_path' product.pledgecolorset.pledge.id %}?color={{product.pledgecolorset.color.slug}}">
                            <h2>{{ product.pledgecolorset.pledge.name }}</h2>
                        </a>
                    </div>
                    
                    <div class="size">
                        <h2> {{ product.size.name }} </h2>
                    </div>

                    <div class="price">
                        <h2> {{ product.pledgecolorset.price }} </h2>
                    </div>
                    <form action="{% url 'cart:delete_product_path' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{product.id}}>
                        <button type="submit">remove</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
        <div class="empty">
            <h3>your cart is empty</h3>
        </div>
        {% endif %}
    </div>

    {% comment %} <div class="products">

        {% for set in pledge_color_sets %}
            <div class="product">

            </div>
        {% endfor %}

    </div> {% endcomment %}
</main>

{% endblock content %}
