{% extends '../home/base_layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'brands/css/all_brands_2.css' %}">
{% endblock styles %}



{% block content %}
<div class="container">
    <h1>Brands</h1>

    <div class="brands">
        {% for brand in brands %}
            <div class="each-brand">
                <a href="{% url 'brands:show_brand' brand.slug %}">
                    <img src="{{ brand.image.url }}" width="220px">
                </a>
                {% comment %} <a href="{% url 'brands:show_brand' brand.slug %}" class="name">
                    {{ brand.name }}
                </a> {% endcomment %}
            </div>
            
        {% endfor %}
    </div>
</div>
{% endblock content %}
